**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/*.code-workspace
**/*.proj.user
**/*.sln
**/*.suo
**/bin/
**/charts/
**/Dockerfile*
**/node_modules/
**/npm-debug.log
**/obj/
**/secrets/
**/tests/
